openapi: 3.0.3
info:
  description: |-
    Officient offers an intuitive HRIS which helps manage all personnel administration through our HR platform & personalized employee self-services. Manage payroll, company assets, contracts, days off, fleet, performance reviews and all employee data in one HR system. HR deserves great software and we're here to provide it.

    We support our customers in transforming HR towards paperless administration and automating tedious workforce management tasks in the process. Our goal? Transform HR from an administrative, processing role, to a controlling role which fuels HR strategy across the organization.
  title: Officient API
  version: "1.0"
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
  x-konfig-has-globally-required-security: true
servers:
- url: https://api.officient.io
security:
- sec0: []
tags:
- name: Person
- name: Expense
- name: Asset
- name: Budget
- name: Contract
- name: Vehicle
- name: Document
- name: Team
- name: Webhook
- name: CustomField
- name: Function
- name: CostUnit
- name: CalendarRequest
- name: Department
- name: CostCenter
- name: Component
- name: Authentication
- name: Account
- name: CalendarState
- name: CustomEventType
- name: Invitation
- name: PriorityScheme
paths:
  /1.0/people/list:
    get:
      deprecated: false
      description: ""
      operationId: Person_listPeople
      parameters:
      - description: "Controls pagination (0, 1, 2, ..) to view all results. 30 items\
          \ per page."
        explode: true
        in: query
        name: page
        required: true
        schema:
          default: 0
          example: 0
          format: int32
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--1.0-people-list-get-parameters-0-schema
        style: form
      - description: Include archived people in response
        explode: true
        in: query
        name: include_archived
        required: false
        schema:
          default: 0
          example: 0
          format: int32
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--1.0-people-list-get-parameters-1-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"data\": [{\n            \"id\": 264,\n        \
                    \    \"name\": \"Walter White\",\n            \"email\": \"walter@white.com\"\
                    ,\n            \"role_name\": \"Chemist\",\n            \"archived\"\
                    : 0,\n            \"linked_payroll_provider_external_id\": \"\
                    123\",\n      \t\t\t\"payroll_provider\": \"DemoPayroll\",\n \
                    \     \t\t\t\"linked_integration_alias\": \"DM\"\n        },\n\
                    \        {\n            \"id\": 263,\n            \"name\": \"\
                    Gustavo Fring\",\n            \"email\": null,\n            \"\
                    role_name\": \"Investor\",\n            \"archived\": 0,\n   \
                    \         \"linked_payroll_provider_external_id\": \"124\",\n\
                    \          \t\"payroll_provider\": \"DemoPayroll\",\n      \t\t\
                    \t\"linked_integration_alias\": \"DM\"\n        },\n        {\n\
                    \            \"id\": 262,\n            \"name\": \"Jesse Pinkman\"\
                    ,\n            \"email\": \"jesse@white.com\",\n            \"\
                    role_name\": \"Assistant\",\n            \"archived\": 1,\n  \
                    \          \"linked_payroll_provider_external_id\": \"125\",\n\
                    \          \t\"payroll_provider\": \"\",\n      \t\t\t\"linked_integration_alias\"\
                    : \"\"\n        }\n    ],\n    \"total_record_count\": 3 \n}"
              schema:
                $ref: '#/components/schemas/PersonListPeopleResponse'
          description: "200"
      summary: List people
      tags:
      - Person
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--1.0-people-list
      x-accepts: application/json
  /1.0/token:
    post:
      deprecated: false
      description: ""
      operationId: Authentication_getAccessToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationGetAccessTokenRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "access_token": "8c649d8be4971bef5eaf53b1484158c74b4ee979",
                        "expires_in": 3600,
                        "token_type": "Bearer",
                        "scope": "admin",
                        "refresh_token": "fed4845d2aacf5ef438b91a319c73190c1480675"
                    }
              schema:
                $ref: '#/components/schemas/AuthenticationGetAccessTokenResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/AuthenticationGetAccessToken400Response'
          description: "400"
          x-do-not-generate: true
      security: []
      summary: Get access token
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--1.0-token
      x-content-type: application/json
      x-accepts: application/json
  /1.0/wages/{person_id}/current:
    get:
      deprecated: false
      description: Get the current wage details for one person
      operationId: Person_getCurrentWage
      parameters:
      - description: The person you would like to receive wage information on
        explode: false
        in: path
        name: person_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"data\": {\n    \"id\": 4451960,\n    \"start_date\"\
                    : \"2017-01-15\",\n    \"end_date\": \"2018-01-15\",\n    \"estimated_monthly_total\"\
                    : 4394,\n    \"currency\": \"EUR\",\n    \"type\": \"employee_paid_monthly\"\
                    ,\n    \"rate\": 2750,\n    \"created_at\": 1588595358,\n    \"\
                    updated_at\": 1588595358,\n    \"registration_country_code\":\
                    \ \"BE\",\n    \"estimated_monthly_cost\": {\n      \"base_components\"\
                    : {\n        \"base_rate\": 2750,\n        \"social_contributions\"\
                    : 885,\n        \"end_of_year_bonus\": 245.83,\n        \"retirement_plan\"\
                    : 136.92,\n        \"holiday_pay\": 226.17,\n        \"hospitalization_insurance\"\
                    : 0,\n        \"net_allowance\": 0,\n        \"car\": 0\n    \
                    \  },\n      \"custom_components\": [\n        {\n          \"\
                    description\": \"maaltijdcheques\",\n          \"monthly_value\"\
                    : 149.74\n        }\n      ]\n    },\n    \"weekly_time_engagement_minutes\"\
                    : {\n      \"monday\": 480,\n      \"tuesday\": 480,\n      \"\
                    wednesday\": 480,\n      \"thursday\": 480,\n      \"friday\"\
                    : 480,\n      \"saturday\": 0,\n      \"sunday\": 0\n    },\n\
                    \    \"custom_payroll_data\": {\n      \"contract_type\": \"internship\"\
                    \n    },\n    \"termination_reason\": \"notice_by_employer\",\n\
                    \    \"multiple_week_schedule\": {\n      \"schedule_start_date\"\
                    : \"2016-01-15\",\n      \"weeks\": [\n        {\n          \"\
                    week_nr\": 1,\n          \"weekly_time_engagement_minutes\": {\n\
                    \            \"monday\": 640,\n            \"tuesday\": 640,\n\
                    \            \"wednesday\": 456,\n            \"thursday\": 456,\n\
                    \            \"friday\": 456,\n            \"saturday\": 0,\n\
                    \            \"sunday\": 0\n          }\n        },\n        {\n\
                    \          \"week_nr\": 2,\n          \"weekly_time_engagement_minutes\"\
                    : {\n            \"monday\": 0,\n            \"tuesday\": 0,\n\
                    \            \"wednesday\": 456,\n            \"thursday\": 456,\n\
                    \            \"friday\": 456,\n            \"saturday\": 0,\n\
                    \            \"sunday\": 0\n          }\n        }\n      ]\n\
                    \    },\n    \"contract_index_number\": 1  \n  }\n}"
              schema:
                $ref: '#/components/schemas/PersonGetCurrentWageResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/PersonGetCurrentWage400Response'
          description: "400"
          x-do-not-generate: true
      summary: Current wage
      tags:
      - Person
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--1.0-wages-person_id-current
      x-accepts: application/json
  /1.0/people/selfservice/invite_link:
    post:
      deprecated: false
      description: Generate a secret URL that brings a person straight to the HR self-service
        platform.
      operationId: Invitation_generateSecretUrl
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationGenerateSecretUrlRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "secret_url": "https://selfservice.officient.io/login/token/642/2564/765/Gq1vfrX6u4C6DqTDFX6nIA1S0kX7ljLSzCe/"
                        }
                    }
              schema:
                $ref: '#/components/schemas/InvitationGenerateSecretUrlResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/InvitationGenerateSecretUrl400Response'
          description: "400"
          x-do-not-generate: true
      summary: Self-service invitation
      tags:
      - Invitation
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--1.0-people-selfservice-invite_link
      x-content-type: application/json
      x-accepts: application/json
  /1.0/wages/{person_id}/history:
    get:
      deprecated: false
      description: Get the entire wage history for one person
      operationId: Person_getWageHistory
      parameters:
      - description: The person you need the wage history for
        explode: false
        in: path
        name: person_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"data\": [\n    {\n      \"id\": 234252342,\n    \
                    \  \"start_date\": \"2017-01-15\",\n      \"end_date\": \"\",\n\
                    \      \"estimated_monthly_total\": 4894,\n      \"currency\"\
                    : \"EUR\",\n      \"type\": \"employee_paid_monthly\",\n     \
                    \ \"rate\": 3250,\n      \"created_at\": 1588595358,\n      \"\
                    updated_at\": 1588595358,\n      \"registration_country_code\"\
                    : \"BE\",\n      \"estimated_monthly_cost\": {\n        \"base_components\"\
                    : {\n          \"base_rate\": 3250,\n          \"social_contributions\"\
                    : 885,\n          \"end_of_year_bonus\": 245.83,\n          \"\
                    retirement_plan\": 136.92,\n          \"holiday_pay\": 226.17,\n\
                    \          \"hospitalization_insurance\": 0,\n          \"net_allowance\"\
                    : 0,\n          \"car\": 0\n        },\n        \"custom_components\"\
                    : [\n          {\n            \"description\": \"maaltijdcheques\"\
                    ,\n            \"monthly_value\": 149.74\n          }\n      \
                    \  ]\n      },\n      \"weekly_time_engagement_minutes\": {\n\
                    \        \"monday\": 456,\n        \"tuesday\": 456,\n       \
                    \ \"wednesday\": 456,\n        \"thursday\": 456,\n        \"\
                    friday\": 456,\n        \"saturday\": 0,\n        \"sunday\":\
                    \ 0\n      },\n      \"custom_payroll_data\": {\n        \"contract_type\"\
                    : \"internship\"\n      },\n      \"termination_reason\": \"\"\
                    ,\n      \"multiple_week_schedule\": null\n    },\n    {\n   \
                    \   \"id\": 23425231,\n      \"start_date\": \"2016-01-15\",\n\
                    \      \"end_date\": \"2017-01-14\",\n      \"estimated_monthly_total\"\
                    : 4594,\n      \"currency\": \"EUR\",\n      \"type\": \"employee_paid_monthly\"\
                    ,\n      \"rate\": 2950,\n      \"created_at\": 1586003358,\n\
                    \      \"updated_at\": 1588595358,\n      \"registration_country_code\"\
                    : \"BE\",\n      \"estimated_monthly_cost\": {\n        \"base_components\"\
                    : {\n          \"base_rate\": 2950,\n          \"social_contributions\"\
                    : 885,\n          \"end_of_year_bonus\": 245.83,\n          \"\
                    retirement_plan\": 136.92,\n          \"holiday_pay\": 226.17,\n\
                    \          \"hospitalization_insurance\": 0,\n          \"net_allowance\"\
                    : 0,\n          \"car\": 0\n        },\n        \"custom_components\"\
                    : [\n          \n        ]\n      },\n      \"weekly_time_engagement_minutes\"\
                    : {\n        \"monday\": 640,\n        \"tuesday\": 640,\n   \
                    \     \"wednesday\": 456,\n        \"thursday\": 456,\n      \
                    \  \"friday\": 456,\n        \"saturday\": 0,\n        \"sunday\"\
                    : 0\n      },\n      \"custom_payroll_data\": null,\n      \"\
                    termination_reason\": \"end_of_contract\",\n      \"multiple_week_schedule\"\
                    : {\n        \"schedule_start_date\": \"2016-01-15\",\n      \
                    \  \"weeks\": [\n          {\n            \"week_nr\": 1,\n  \
                    \          \"weekly_time_engagement_minutes\": {\n           \
                    \   \"monday\": 640,\n              \"tuesday\": 640,\n      \
                    \        \"wednesday\": 456,\n              \"thursday\": 456,\n\
                    \              \"friday\": 456,\n              \"saturday\": 0,\n\
                    \              \"sunday\": 0\n            }\n          },\n  \
                    \        {\n            \"week_nr\": 2,\n            \"weekly_time_engagement_minutes\"\
                    : {\n              \"monday\": 0,\n              \"tuesday\":\
                    \ 0,\n              \"wednesday\": 456,\n              \"thursday\"\
                    : 456,\n              \"friday\": 456,\n              \"saturday\"\
                    : 0,\n              \"sunday\": 0\n            }\n          }\n\
                    \        ]\n      },\n      \"contract_index_number\": 1\n   \
                    \ }\n  ]\n}"
              schema:
                $ref: '#/components/schemas/PersonGetWageHistoryResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/PersonGetWageHistory400Response'
          description: "400"
          x-do-not-generate: true
      summary: Wage history
      tags:
      - Person
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--1.0-wages-person_id-history
      x-accepts: application/json
  /1.0/assets/list:
    get:
      deprecated: false
      description: List all assets
      operationId: Asset_listAssets
      parameters:
      - description: "Controls pagination (0, 1, 2, ..) to view all results. 30 items\
          \ per page."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          example: 0
          format: int32
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--1.0-assets-list-get-parameters-0-schema
        style: form
      - description: view only assets that belong to a specific person
        explode: true
        in: query
        name: person_id
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": [{
                                "id": 38,
                                "name": "HTC HD2",
                                "owner": {
                                    "id": 264,
                                    "name": "Randy Marsh"
                                }
                            },
                            {
                                "id": 37,
                                "name": "HP Z Display Z34c",
                                "owner": {
                                    "id": 41,
                                    "name": "Michiel Bearelle"
                                }
                            },
                            {
                                "id": 36,
                                "name": "Acer Aspire One",
                                "owner": {
                                    "id": null,
                                    "name": null
                                }
                            }
                        ]
                    }
              schema:
                $ref: '#/components/schemas/AssetListAssetsResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/AssetListAssets400Response'
          description: "400"
          x-do-not-generate: true
      summary: List assets
      tags:
      - Asset
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--1.0-assets-list
      x-accepts: application/json
  /1.0/assets/{asset_id}/detail:
    get:
      deprecated: false
      description: Get details about one asset
      operationId: Asset_getDetail
      parameters:
      - explode: false
        in: path
        name: asset_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "id": 38,
                            "name": "Acer Aspire One",
                            "price": "1000.00",
                            "deleted": 0,
                            "picture": "",
                            "serial_number": "AE1564",
                            "vendor": "Coolblue",
                            "owner": {
                                "id": 264,
                                "name": "Randy Marsh",
                                "avatar": "https://www.gravatar.com/avatar/525ceb06bc8862932d853a033411e3b7?d=404"
                            },
                            "custom_fields": [{
                                "custom_field_name": "Einddatum",
                                "custom_field_id": 2,
                                "value": "",
                                "value_name": null,
                                "type": "date"
                            }]
                        }
                    }
              schema:
                $ref: '#/components/schemas/AssetGetDetailResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/AssetGetDetail400Response'
          description: "400"
          x-do-not-generate: true
      summary: Asset detail
      tags:
      - Asset
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--1.0-assets-asset_id-detail
      x-accepts: application/json
  /1.0/fleet/{vehicle_id}/detail:
    get:
      deprecated: false
      description: Get details about one vehicle in the fleet
      operationId: Vehicle_getDetail
      parameters:
      - explode: false
        in: path
        name: vehicle_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "id": 18,
                            "type": "car",
                            "brand": "Citroen",
                            "model": "Xsara",
                            "fuel": "gas",
                            "plate": "1-NZH-879",
                            "hp": 70,
                            "co2_g_km": 120,
                            "chassis_number": "AEFSF_FSF54546",
                            "color": "yellow",
                            "supplier": "",
                            "contract_type": "",
                            "catalogue_value": "20000",
                            "date_first_registration": "1999-01-15",
                            "specifics": "",
                            "yearly_cost": {
                                "base": "10000",
                                "operational": "10000"
                            },
                            "deleted": 0,
                            "owner": {
                                "id": 38,
                                "name": "Michael",
                                "avatar": "https://www.gravatar.com/avatar/d29de674eecaad6bab4c8c4dde00dfde?d=404"
                            },
                            "custom_fields": [{
                                "custom_field_name": "Lease date",
                                "custom_field_id": 2,
                                "value": "",
                                "value_name": null,
                                "type": "date"
                            }]
                        }
                    }
              schema:
                $ref: '#/components/schemas/VehicleGetDetailResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/VehicleGetDetail400Response'
          description: "400"
          x-do-not-generate: true
      summary: Vehicle detail
      tags:
      - Vehicle
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--1.0-fleet-vehicle_id-detail
      x-accepts: application/json
  /1.0/fleet/list:
    get:
      deprecated: false
      description: Get a list of all vehicles in the fleet
      operationId: Vehicle_getAllVehicles
      parameters:
      - description: "Controls pagination (0, 1, 2, ..) to view all results. 30 items\
          \ per page."
        explode: true
        in: query
        name: page
        required: true
        schema:
          default: 0
          example: 0
          format: int32
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--1.0-fleet-list-get-parameters-0-schema
        style: form
      - description: view only vehicles that belong to a specific person
        explode: true
        in: query
        name: person_id
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": [{
                                "id": 19,
                                "type": "bicycle",
                                "brand": "Brompton",
                                "model": "H-3-R",
                                "owner": {
                                    "id": 2790,
                                    "name": "Al Gore"
                                }
                            },
                            {
                                "id": 18,
                                "type": "car",
                                "brand": "Chevy",
                                "model": "Volt",
                                "owner": {
                                    "id": 38,
                                    "name": "Nancy Pelosi"
                                }
                            },
                            {
                                "id": 17,
                                "type": "motorbike",
                                "brand": "BMW",
                                "model": "F 700 GS",
                                "owner": {
                                    "id": 265,
                                    "name": "Maarten"
                                }
                            }
                        ]
                    }
              schema:
                $ref: '#/components/schemas/VehicleGetAllVehiclesResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/VehicleGetAllVehicles400Response'
          description: "400"
          x-do-not-generate: true
      summary: List vehicles
      tags:
      - Vehicle
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--1.0-fleet-list
      x-accepts: application/json
  /1.0/contracts/list:
    get:
      deprecated: false
      description: Get a list of all contracts
      operationId: Contract_getAll
      parameters:
      - description: "Controls pagination (0, 1, 2, ..) to view all results. 30 items\
          \ per page."
        explode: true
        in: query
        name: page
        required: true
        schema:
          default: 0
          example: 0
          format: int32
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--1.0-contracts-list-get-parameters-0-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": [
                            {
                                "id": 1093,
                                "name": "Arbeidscontract",
                                "owner": {
                                    "id": 45465,
                                    "name": "Dr. Dre"
                                }
                            },
                            {
                                "id": 1092,
                                "name": "Non disclosure agreement",
                                "owner": {
                                    "id": 4564,
                                    "name": "John I."
                                }
                            },
                            {
                                "id": 1091,
                                "name": "Letter of Intent",
                                "owner": {
                                    "id": 45116,
                                    "name": "Jason B."
                                }
                            }
                        ]
                    }
              schema:
                $ref: '#/components/schemas/ContractGetAllResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/ContractGetAll400Response'
          description: "400"
          x-do-not-generate: true
      summary: List contracts
      tags:
      - Contract
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--1.0-contracts-list
      x-accepts: application/json
  /1.0/contracts/{contract_id}/detail:
    get:
      deprecated: false
      description: Get details about one contract
      operationId: Contract_getDetail
      parameters:
      - explode: false
        in: path
        name: contract_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "id": 1093,
                            "name": "Arbeidscontract",
                            "owner": {
                                "id": 20184,
                                "name": "Dr. Dre",
                                "avatar": "https://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=404"
                            },
                            "signatures": [
                                {
                                    "type": "internal",
                                    "status": "signed",
                                    "signer": {
                                        "type": "user",
                                        "id": 44564,
                                        "name": "Tim Cook"
                                    },
                                    "date_signed": "2014-06-02"
                                },
                                {
                                    "type": "employee",
                                    "status": "signed",
                                    "signer": {
                                        "type": "employee",
                                        "id": 45045465,
                                        "name": "Dr. Dre"
                                    },
                                    "date_signed": "2014-06-03"
                                },
                                {
                                    "type": "second_internal",
                                    "status": "signed",
                                    "signer": {
                                        "type": "user",
                                        "id": 44565,
                                        "name": "Dr. Phe"
                                    },
                                    "date_signed": "2014-06-04"
                                }
                            ],
                            "date_created": "2014-06-01",
                            "date_sent": "2014-06-01",
                            "deleted": 0,
                            "custom_fields": [{
                                "custom_field_name": "Importance",
                                "custom_field_id": 22,
                                "value": "152",
                                "value_name": 'High',
                                "type": "select_option"
                            }]
                        }
                    }
              schema:
                $ref: '#/components/schemas/ContractGetDetailResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/ContractGetDetail400Response'
          description: "400"
          x-do-not-generate: true
      summary: Contract detail
      tags:
      - Contract
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--1.0-contracts-contract_id-detail
      x-accepts: application/json
  /1.0/contracts/{contract_id}/pdf:
    get:
      deprecated: false
      description: Get a PDF download link for any contract
      operationId: Contract_getPdfLink
      parameters:
      - explode: false
        in: path
        name: contract_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "download_url": "https://cloud.document.url/456461/downloadpdf"
                        }
                    }
              schema:
                $ref: '#/components/schemas/ContractGetPdfLinkResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/ContractGetPdfLink400Response'
          description: "400"
          x-do-not-generate: true
      summary: Contract PDF
      tags:
      - Contract
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--1.0-contracts-contract_id-pdf
      x-accepts: application/json
  /1.0/calendar/{person_id}/{year}/{month}:
    get:
      deprecated: false
      description: "List the time off, overtime & scheduled time for a single person\
        \ for an entire month"
      operationId: Person_getMonthlyCalendar
      parameters:
      - description: The person you would like to receive calender information on
        explode: false
        in: path
        name: person_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: year
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: month
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "time_off": [
                                {
                                    "date": "2018-04-01",
                                    "scheduled_minutes": 0,
                                    "events": []
                                },
                                {
                                    "date": "2018-04-02",
                                    "scheduled_minutes": 456,
                                    "events": []
                                },
                                {
                                    "date": "2018-04-03",
                                    "scheduled_minutes": 456,
                                    "events": [
                                        {
                                            "id": 123,
                                            "name": "Sick day",
                                            "event_type": "sick_day",
                                            "custom_day_off_type_id": "",
                                            "date": "2018-04-03",
                                            "duration_minutes": 456,
                                            "start_time_minutes" : 540,
                                            "type": "time_off",
                                            "working": 0,
                                            "status": "approved",
                                            "color": ""
                                        }
                                    ]
                                },
                                {
                                    "date": "2018-04-04",
                                    "scheduled_minutes": 456,
                                    "events": [
                                        {
                                            "id": 124,
                                            "name": "Overtime",
                                            "event_type": "custom",
                                            "custom_day_off_type_id": "123",
                                            "date": "2018-04-04",
                                            "duration_minutes": 60,
                                            "start_time_minutes" : 780,
                                            "type": "overtime",
                                            "working": 1,
                                            "status": "approved",
                                            "color": "a24689"
                                        },
                                        {
                                            "id": 125,
                                            "name": "Verlof",
                                            "event_type": "custom",
                                            "custom_day_off_type_id": "80",
                                            "date": "2018-04-04",
                                            "duration_minutes": 456,
                                            "start_time_minutes" : 540,
                                            "type": "time_off",
                                            "working": 0,
                                            "status": "approved",
                                            "color": "a24689"
                                        }
                                    ]
                                },
                                {
                                    "date": "2018-04-05",
                                    "scheduled_minutes": 456,
                                    "events": [
                                        {
                                            "id": 128,
                                            "name": "Training Day",
                                            "event_type": "education",
                                            "custom_day_off_type_id": "",
                                            "date": "2018-04-05",
                                            "duration_minutes": 456,
                                            "start_time_minutes" : 540,
                                            "type": "time_off",
                                            "working": 1,
                                            "status": "approved",
                                            "color": ""
                                        }
                                    ]
                                },
                                {
                                    "date": "2018-04-29",
                                    "scheduled_minutes": 0,
                                    "events": []
                                },
                                {
                                    "date": "2018-04-30",
                                    "scheduled_minutes": 456,
                                    "events": []
                                }
                            ],
                            "company_days_off": [
                                {
                                    "name": "EASTER_MONDAY",
                                    "date": "2018-04-02"
                                }
                            ]
                        }
                    }
              schema:
                $ref: '#/components/schemas/PersonGetMonthlyCalendarResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/PersonGetMonthlyCalendar400Response'
          description: "400"
          x-do-not-generate: true
      summary: Monthly calendar
      tags:
      - Person
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--1.0-calendar-person_id-year-month
      x-accepts: application/json
  /1.0/teams/list:
    get:
      deprecated: false
      description: List all teams
      operationId: Team_getAllTeams
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": [
                            {
                                "id": 4,
                                "name": "Sales team"
                            },
                            {
                                "id": 80,
                                "name": "Development team"
                            }
                        ]
                    }
              schema:
                $ref: '#/components/schemas/TeamGetAllTeamsResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/TeamGetAllTeams400Response'
          description: "400"
          x-do-not-generate: true
      summary: List teams
      tags:
      - Team
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--1.0-teams-list
      x-accepts: application/json
  /1.0/people/add:
    post:
      deprecated: false
      description: Add a new person to Officient
      operationId: Person_addNew
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "id": "80"
                        }
                    }
              schema:
                $ref: '#/components/schemas/PersonAddNewResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/PersonAddNew400Response'
          description: "400"
          x-do-not-generate: true
      summary: Add person
      tags:
      - Person
      x-readme:
        code-samples:
        - language: http
          code: |-
            {
              "name": "Joan Lewis",
              "email": "joan@your.co",
              "personal_email": "",
              "phone": ""
            }
        samples-languages:
        - http
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--1.0-people-add
      x-accepts: application/json
  /1.0/calendar/events/types/{year}:
    get:
      deprecated: false
      description: "fetch a list of custom event types including time off types, overtime\
        \ types,.."
      operationId: CustomEventType_getList
      parameters:
      - description: the year you want custom event type to be returned for
        explode: false
        in: path
        name: year
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": [
                            {
                                "id": 1350,
                                "name": "Holidays",
                                "alias": "Holidays",
                                "active": 1,
                                "color": "a24689",
                                "interpretation": "time_off",
                                "integrations": [
                                    {
                                        "app": "sdworx",
                                        "code": "122"
                                    }
                                ]
                            },
                            {
                                "id": 1434,
                                "name": "Paid holiday",
                                "alias": "Paid holiday",
                                "active": 1,
                                "color": "7986c9",
                                "interpretation": "time_off",
                                "integrations": [
                                    {
                                        "app": "acerta",
                                        "code": "192"
                                    }
                                ]
                            },
                            {
                                "id": 1390,
                                "name": "Overtime",
                                "alias": "Overtime",
                                "active": 0,
                                "color": "35b579",
                                "interpretation": "overtime",
                                "integrations": [
                                    {
                                        "app": "liantis",
                                        "code": "100"
                                    }
                                ]
                            }
                          ]
                    }
              schema:
                $ref: '#/components/schemas/CustomEventTypeGetListResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/CustomEventTypeGetList400Response'
          description: "400"
          x-do-not-generate: true
      summary: Custom event types
      tags:
      - CustomEventType
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--1.0-calendar-events-types-year
      x-accepts: application/json
  /1.0/calendar/{person_id}/events/add:
    post:
      deprecated: false
      description: "Add new events to a calender (eg a day off, overtime,..)"
      operationId: Person_addToCalendar
      parameters:
      - explode: false
        in: path
        name: person_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "success": 1
                    }
              schema:
                $ref: '#/components/schemas/PersonAddToCalendarResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 400,
                        "reason_phrase": "There is already too much time off planned on 29/12/2018."
                    }
              schema:
                $ref: '#/components/schemas/PersonAddToCalendar400Response'
          description: "400"
          x-do-not-generate: true
      summary: Add event
      tags:
      - Person
      x-readme:
        code-samples:
        - language: http
          code: "{  \n   \"type\":\"custom\",\n   \"custom_day_off_type_id\":\"1103\"\
            ,\n   \"events\":[  \n      {  \n         \"date\":\"2018-12-29\",\n \
            \        \"start_time_minutes\":540,\n         \"duration_minutes\":480\n\
            \      }\n   ]\n}"
          name: Adding an event with a custom day off type
        - language: http
          code: "{  \n   \"type\":\"sick_day\",\n   \"custom_day_off_type_id\":\"\
            1103\",\n   \"events\":[  \n      {  \n         \"date\":\"2018-01-25\"\
            ,\n         \"start_time_minutes\":540,\n         \"duration_minutes\"\
            :\"all_day\"\n      },\n      {  \n         \"date\":\"2018-01-25\",\n\
            \         \"start_time_minutes\":540,\n         \"duration_minutes\":\"\
            all_day\"\n      }\n   ]\n}"
          name: Adding 2 sick days
        samples-languages:
        - http
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--1.0-calendar-person_id-events-add
      x-accepts: application/json
  /1.0/calendar/{person_id}/events/{event_id}:
    delete:
      deprecated: false
      description: "Remove an event from the calender, such as a day off"
      operationId: Person_removeEvent
      parameters:
      - explode: false
        in: path
        name: person_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: event_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "success": 1
                    }
              schema:
                $ref: '#/components/schemas/PersonRemoveEventResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 400,
                        "reason_phrase": "No event found for that event_id."
                    }
              schema:
                $ref: '#/components/schemas/PersonRemoveEvent400Response'
          description: "400"
          x-do-not-generate: true
      summary: Delete event
      tags:
      - Person
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--1.0-calendar-person_id-events-event_id
      x-accepts: application/json
  /1.0/calendar/{person_id}/{year}/{month}/{day}/work:
    patch:
      deprecated: false
      description: Overwrite the amount of time worked on a certain day (eg for timetracking
        software integrations)
      operationId: Person_updateTimeWorked
      parameters:
      - explode: false
        in: path
        name: person_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: year
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: month
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: day
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "success": 1
                    }
              schema:
                $ref: '#/components/schemas/PersonUpdateTimeWorkedResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 400,
                        "reason_phrase": "Given date '2018-24-24' doesn't exist."
                    }
              schema:
                $ref: '#/components/schemas/PersonUpdateTimeWorked400Response'
          description: "400"
          x-do-not-generate: true
      summary: Update time worked
      tags:
      - Person
      x-readme:
        code-samples:
        - language: http
          code: "{\n\t\"duration_minutes\": \"120\"\n}"
          name: Set time worked on a given day to 2 hours
        samples-languages:
        - http
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--1.0-calendar-person_id-year-month-day-work
      x-accepts: application/json
  /1.0/calendar/{person_id}/{year}/{month}/{day}/work/reset:
    post:
      deprecated: false
      description: reset the time worked on a given day to the regular work schedule
        for one person
      operationId: Person_resetTimeWorked
      parameters:
      - explode: false
        in: path
        name: person_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: year
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: month
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: day
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/PersonResetTimeWorkedResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/PersonResetTimeWorked400Response'
          description: "400"
          x-do-not-generate: true
      summary: Reset time worked
      tags:
      - Person
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--1.0-calendar-person_id-year-month-day-work-reset
      x-accepts: application/json
  /1.0/people/{person_id}/detail:
    get:
      deprecated: false
      description: ""
      operationId: Person_getDetail
      parameters:
      - explode: false
        in: path
        name: person_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"data\": {\n        \"id\": 264,\n        \"deleted\"\
                    : 0,\n        \"name\": \"Walter White\",\n        \"first_name\"\
                    : \"Walter\",\n        \"last_name\": \"White\",\n        \"created_at\"\
                    : 1588175657,\n        \"preferred_language_code\": \"nl\",\n\
                    \        \"email\": \"walter@white.com\",\n        \"personal_email\"\
                    : \"walter.white@gmail.com\",\n        \"national_number\": \"\
                    90.12.12-001.61\",\n        \"social_security_nr\": \"XB-1234321\"\
                    , \n        \"birthdate\": \"1966-12-31\",\n        \"birthplace\"\
                    : \"Gent\",\n        \"avatar\": \"https://www.gravatar.com/avatar/525ceb06bc8862932d853a033411e3b7?d=404\"\
                    ,\n        \"linked_payroll_provider\": \"acerta\",\n        \"\
                    linked_payroll_employee_id\": \"\",\n        \"linked_payroll_employee_number\"\
                    : \"\",\n        \"dependent_adults_below_65\": 0,\n        \"\
                    dependent_children\": 1,\n        \"dependent_adults_above_65\"\
                    : 0,\n        \"dependent_disabled_children\": 0,\n        \"\
                    dependent_disabled_adults_below_65\": 0,\n        \"dependent_disabled_adults_above_65\"\
                    : 0,\n        \"spouse_has_income\": false,\n        \"phone\"\
                    : \"001 477 764 898\",\n        \"civil_state\": \"married\",\n\
                    \        \"nationality_country_code\": \"US\",\n        \"gender\"\
                    : \"male\",\n        \"bank_account_iban\": \"DE 0750 8900 0000\
                    \ 0175 7814\",\n        \"bank_account_bic\": \"KREDBEBB\",\n\
                    \        \"emergency_contact\": {\n            \"name\": \"Skyler\
                    \ White\",\n            \"relation\": \"family\",\n          \
                    \  \"phone\": \"001 475 764 898\"\n        },\n        \"address\"\
                    : {\n            \"line_1\": \"3828 Piermont Dr\",\n         \
                    \   \"line_2\": \"\",\n            \"zipcode\": \"87112\",\n \
                    \           \"city\": \"Albuquerque\",\n            \"state\"\
                    : \"NM\",\n            \"country_code\": \"US\",\n           \
                    \ \"date_last_changed\": \"2020-14-01\"\n        },\n        \"\
                    team\": {\n            \"id\": 4,\n            \"name\": \"R&D\
                    \ team\"\n        },\n        \"employment\": {\n            \"\
                    first_employment_date\": \"2019-08-12\",\n            \"last_employment_date\"\
                    : null\n        },      \n        \"current_role\": {\n      \
                    \      \"name\": \"Chemist\",\n            \"start_date\": \"\
                    2008-01-15\"\n        },\n        \"current_reports_to\": {\n\
                    \            \"person_id\": 263,\n            \"person_name\"\
                    : \"Gustavo Fring\",\n            \"start_date\": \"2009-02-14\"\
                    \n        },\n        \"custom_fields\": [{\n            \"custom_field_id\"\
                    : 109,\n            \"custom_field_name\": \"Allergies\",\n  \
                    \          \"type\": \"email\",\n            \"value\": \"Soy\"\
                    ,\n            \"value_name\": null\n        }],\n        \"name_parts\"\
                    : {\n\t\t\t\t\t\t\"initials\": \"\",\n\t\t\t\t\t\t\"insertion\"\
                    : \"\",\n\t\t\t\t\t\t\"last_name_composition\": \"\",\n\t\t\t\t\
                    \t\t\"insertion_partner\": \"\",\n\t\t\t\t\t\t\"last_name_partner\"\
                    : \"\"\n        }\n    }\n}"
              schema:
                $ref: '#/components/schemas/PersonGetDetailResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/PersonGetDetail400Response'
          description: "400"
          x-do-not-generate: true
      summary: Person detail
      tags:
      - Person
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--1.0-people-person_id-detail
      x-accepts: application/json
    patch:
      deprecated: false
      description: ""
      operationId: Person_editDetail
      parameters:
      - explode: false
        in: path
        name: person_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "success": 1
                    }
              schema:
                $ref: '#/components/schemas/PersonEditDetailResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{\"status_code\":400,\"reason_phrase\":\"Invalid date found\
                    \ : 16/13/1989\"}"
              schema:
                $ref: '#/components/schemas/PersonEditDetail400Response'
          description: "400"
          x-do-not-generate: true
      summary: Edit person
      tags:
      - Person
      x-readme:
        code-samples:
        - language: http
          code: |-
            {
              "name": "Leroy Jenkins",
              "birthdate": "16/05/1989",
              "email": "leroy@blizzard.co",
              "personal_email": "leroy@hotmail.com",
              "phone": "+44 741 5468 154",
              "team_id": 840,
              "place_of_birth": "Londen",
              "nationality_country_code": "GB",
              "national_number": "82.424.343.XX",
              "address_country_code": "BE",
              "address_line_1": "Kortrijksesteenweg 181",
              "address_line_2": "",
              "address_zipcode": "9000",
              "address_city": "Gent",
              "address_state": "",
              "bank_account_iban": "BEXXXXYYYY123",
              "bank_account_bic": "AREVFRPP",
              "preferred_language_code": "nl",
              "gender": "male"
            }
        samples-languages:
        - http
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--1.0-people-person_id-detail
      x-accepts: application/json
  /1.0/documents/{object_type}/{object_id}/list:
    get:
      deprecated: false
      description: This API call lists up all documents related to a specific object
      operationId: Document_listRelated
      parameters:
      - description: "pick one: employee, asset, car"
        explode: false
        in: path
        name: object_type
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: object_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: "Controls pagination (0, 1, 2, ..) to view all results. 30 items\
          \ per page."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          example: 0
          format: int32
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--1.0-documents-object_type-object_id-list-get-parameters-2-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": [
                            {
                                "id": 45262,
                                "filename": "scan_license.jpg",
                                "filesize_bytes": 10650,
                                "document_type": "Drivers licenses",
                                "date_uploaded": "2019-01-06",
                                "visible_in_selfservice": 0,
                            },
                            {
                                "id": 45261,
                                "filename": "Report ABC.pdf",
                                "filesize_bytes": 16534,
                                "document_type": "Attesten",
                                "visible_in_selfservice": 1
                            }
                        ]
                    }
              schema:
                $ref: '#/components/schemas/DocumentListRelatedResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/DocumentListRelated400Response'
          description: "400"
          x-do-not-generate: true
      summary: List documents
      tags:
      - Document
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--1.0-documents-object_type-object_id-list
      x-accepts: application/json
  /1.0/documents/{file_id}/download:
    get:
      deprecated: false
      description: This API call returns a download url for a document
      operationId: Document_getDownloadUrl
      parameters:
      - explode: false
        in: path
        name: file_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "download_url": "https://sample-url.com"
                        }
                    }
              schema:
                $ref: '#/components/schemas/DocumentGetDownloadUrlResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/DocumentGetDownloadUrl400Response'
          description: "400"
          x-do-not-generate: true
      summary: Download document
      tags:
      - Document
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--1.0-documents-file_id-download
      x-accepts: application/json
  /1.0/documents/{object_type}/{object_id}/add:
    post:
      deprecated: false
      description: ""
      operationId: Document_uploadDocument
      parameters:
      - description: "pick one: employee, asset, car"
        explode: false
        in: path
        name: object_type
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: object_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "id": "45275"
                        }
                    }
              schema:
                $ref: '#/components/schemas/DocumentUploadDocumentResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 400,
                        "reason_phrase": "The filename should contain an extension."
                    }
              schema:
                $ref: '#/components/schemas/DocumentUploadDocument400Response'
          description: "400"
          x-do-not-generate: true
      summary: Upload document
      tags:
      - Document
      x-readme:
        code-samples:
        - language: http
          code: "{  \n   \"document_base64\":\"dGVzdA==\",\n   \"document_type\":\"\
            Passport\",\n   \"filename\":\"passport.txt\",\n   \"visible_in_selfservice\"\
            : 1\n}"
        samples-languages:
        - http
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--1.0-documents-object_type-object_id-add
      x-accepts: application/json
  /1.0/webhooks/add:
    post:
      deprecated: false
      description: use this API to subscribe to notifications
      operationId: Webhook_subscribeNotification
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "id": "7"
                        }
                    }
              schema:
                $ref: '#/components/schemas/WebhookSubscribeNotificationResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/WebhookSubscribeNotification400Response'
          description: "400"
          x-do-not-generate: true
      summary: Add webhook
      tags:
      - Webhook
      x-readme:
        code-samples:
        - language: http
          code: "{  \n   \"target_url\":\"https://hooks.zapier.com/<unique_path>\"\
            ,\n   \"event\":\"person_added\"\n}"
        samples-languages:
        - http
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--1.0-webhooks-add
      x-accepts: application/json
  /1.0/webhooks/{webhook_id}:
    delete:
      deprecated: false
      description: Use this API to unsubscribe from notifcations
      operationId: Webhook_unsubscribeNotification
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/WebhookUnsubscribeNotificationResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/WebhookUnsubscribeNotification400Response'
          description: "400"
          x-do-not-generate: true
      summary: Delete webhook
      tags:
      - Webhook
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--1.0-webhooks-webhook_id
      x-accepts: application/json
  /1.0/webhooks/list:
    get:
      deprecated: false
      description: View currently active notifications
      operationId: Webhook_getActiveNotifications
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": [
                            {
                                "id": 3,
                                "event": "person_added",
                                "target_url": "https://hooks.zapier.com/<unique_path>"
                            },
                            {
                                "id": 7,
                                "event": "person_deleted",
                                "target_url": "https://hooks.zapier.com/<unique_path>"
                            }
                        ]
                    }
              schema:
                $ref: '#/components/schemas/WebhookGetActiveNotificationsResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/WebhookGetActiveNotifications400Response'
          description: "400"
          x-do-not-generate: true
      summary: List webhooks
      tags:
      - Webhook
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--1.0-webhooks-list
      x-accepts: application/json
  /1.0/account:
    get:
      deprecated: false
      description: This API will reveal information about your own account
      operationId: Account_getInformation
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "company_id": 60002,
                            "company_name": "YourCompanyName",
                            "subdomain": "yoursubdomain"
                        }
                    }
              schema:
                $ref: '#/components/schemas/AccountGetInformationResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/AccountGetInformation400Response'
          description: "400"
          x-do-not-generate: true
      summary: Your account
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--1.0-account
      x-accepts: application/json
  /1.0/contracts/add:
    post:
      deprecated: false
      description: ""
      operationId: Contract_createNewContract
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "id": "11491"
                        }
                    }
              schema:
                $ref: '#/components/schemas/ContractCreateNewContractResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 400,
                        "reason_phrase": "Template for contract not found"
                    }
              schema:
                $ref: '#/components/schemas/ContractCreateNewContract400Response'
          description: "400"
          x-do-not-generate: true
      summary: Add contract
      tags:
      - Contract
      x-readme:
        code-samples:
        - language: http
          code: "{  \n   \"person_id\":216570,\n   \"file_type\":\"pdf\",\n   \"contract_name\"\
            :\"Freelance contract\",\n   \"template_id\":\"\",\n   \"pdf_base64\"\
            :\"JVBERi0xLjMNCiX....FT0YNCg==\",\n\n}"
        samples-languages:
        - http
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--1.0-contracts-add
      x-accepts: application/json
  /1.0/contracts/signature/request:
    post:
      deprecated: false
      description: This API sends out an email invite requesting to sign a contract
      operationId: Contract_requestSignature
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{\"success\":1}"
              schema:
                $ref: '#/components/schemas/ContractRequestSignatureResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{  \n   \"status_code\":400,\n   \"reason_phrase\":\"Officient\
                    \ does not have an email address on file for this person\"\n}"
              schema:
                $ref: '#/components/schemas/ContractRequestSignature400Response'
          description: "400"
          x-do-not-generate: true
      summary: Request contract signature
      tags:
      - Contract
      x-readme:
        code-samples:
        - language: http
          code: "{  \n   \"contract_id\":11490,\n   \"optional_message\":\"Test\"\n\
            }\n"
        samples-languages:
        - http
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--1.0-contracts-signature-request
      x-accepts: application/json
  /1.0/calendar/{person_id}/events/types/{year}/limits:
    get:
      deprecated: false
      description: This API can tell how many days off a certain person has in a certain
        year
      operationId: Person_getEventTypeLimits
      parameters:
      - explode: false
        in: path
        name: person_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: year
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": [
                            {
                                "id": 3118,
                                "name": "Official holidays",
                                "limitation": "limit_in_days",
                                "max_yearly_amount_days": 10,
                                "max_yearly_amount_minutes": 0,
                                "approval_needed": 1,
                                "allowed_selfservice": 1
                            },
                            {
                                "id": 3193,
                                "name": "Time off",
                                "limitation": "limit_in_minutes",
                                "max_yearly_amount_days": 0,
                                "max_yearly_amount_minutes": 8424,
                                "approval_needed": 1,
                                "allowed_selfservice": 1
                            },
                            {
                                "id": 3183,
                                "name": "Study days",
                                "limitation": "unlimited",
                                "max_yearly_amount_days": 0,
                                "max_yearly_amount_minutes": 0,
                                "approval_needed": 1,
                                "allowed_selfservice": 1
                            }
                        ]
                    }
              schema:
                $ref: '#/components/schemas/PersonGetEventTypeLimitsResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/PersonGetEventTypeLimits400Response'
          description: "400"
          x-do-not-generate: true
      summary: Event type limits
      tags:
      - Person
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--1.0-calendar-person_id-events-types-year-limits
      x-accepts: application/json
  /1.0/calendar/{person_id}/events/types/{year}/limits/{type_id}/set:
    post:
      deprecated: false
      description: This API can update the limitations for a specific event type
      operationId: Person_updateEventTypeLimit
      parameters:
      - explode: false
        in: path
        name: person_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: year
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: type_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "success": 1
                    }
              schema:
                $ref: '#/components/schemas/PersonUpdateEventTypeLimitResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 400,
                        "reason_phrase": "This exception is automatically calculated by your payroll provider. It cannot be changed. "
                    }
              schema:
                $ref: '#/components/schemas/PersonUpdateEventTypeLimit400Response'
          description: "400"
          x-do-not-generate: true
      summary: Set event type limit
      tags:
      - Person
      x-readme:
        code-samples:
        - language: http
          code: "{  \n   \"limitation\":\"limit_in_days\",\n   \"max_yearly_amount_days\"\
            :5\n}"
          name: limit_in_days
        - language: http
          code: "{ \n    \"limitation\": \"unlimited\" \n}"
          name: unlimited
        - language: http
          code: "{ \n   \"limitation\": \"limit_in_minutes\",\n   \"max_yearly_amount_minutes\"\
            : 500\n}"
          name: limit_in_minutes
        - language: http
          code: "{ \n   \"start_date\": \"01/01/2023\",\n   \"starting_amount_minutes\"\
            : 1200\n}"
          name: leave_accrual
        samples-languages:
        - http
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--1.0-calendar-person_id-events-types-year-limits-type_id-set
      x-accepts: application/json
  /1.0/people/search:
    get:
      deprecated: false
      description: "search people by name, email or national number"
      operationId: Person_searchByCriteria
      parameters:
      - description: eg John Doe
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: eg john@doe.net
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      - description: eg 82146126684
        explode: true
        in: query
        name: national_number
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                        {
                            "id": 216742,
                            "deleted": 0,
                            "name": "John Doe",
                            "national_number": "82146126684",
                            "email": "john@doe.net",
                            "matched_on": "national_number"
                        }
                    ]
              schema:
                $ref: '#/components/schemas/PersonSearchByCriteriaResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/PersonSearchByCriteria400Response'
          description: "400"
          x-do-not-generate: true
      summary: Search people
      tags:
      - Person
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--1.0-people-search
      x-accepts: application/json
  /1.0/calendar/{person_id}/{year}/work/bulk:
    patch:
      deprecated: false
      description: Overwrite the amount of time worked for a set of days in bulk (eg
        for timetracking software integrations)
      operationId: Person_updateBulkTimeWorked
      parameters:
      - explode: false
        in: path
        name: person_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: year
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "success": 1,
                        "failed": [  ]
                    }
              schema:
                $ref: '#/components/schemas/PersonUpdateBulkTimeWorkedResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 400,
                        "reason_phrase": "Given date '2018-24-24' doesn't exist."
                    }
              schema:
                $ref: '#/components/schemas/PersonUpdateBulkTimeWorked400Response'
          description: "400"
          x-do-not-generate: true
      summary: Update time worked in bulk
      tags:
      - Person
      x-readme:
        code-samples:
        - language: http
          code: "[\n\t{\n\t\t\"duration_minutes\": 456,\n\t\t\"date\": \"2019-03-13\"\
            \n\t},\n\t{\n\t\t\"duration_minutes\": 240,\n\t\t\"date\": \"2019-03-14\"\
            \n\t}\n]"
          name: Set worked time for multiple days
        samples-languages:
        - http
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--1.0-calendar-person_id-year-work-bulk
      x-accepts: application/json
  /1.0/people/{person_id}/manager:
    get:
      deprecated: false
      description: ""
      operationId: Person_getManagerDetails
      parameters:
      - explode: false
        in: path
        name: person_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "person_id": 36,
                            "person_name": "Josiane Hartmann",
                            "start_date": "2005-07-06"
                        }
                    }
              schema:
                $ref: '#/components/schemas/PersonGetManagerDetailsResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 400,
                        "reason_phrase": "Invalid employee id"
                    }
              schema:
                $ref: '#/components/schemas/PersonGetManagerDetails400Response'
          description: "400"
          x-do-not-generate: true
      summary: Person manager
      tags:
      - Person
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--1.0-people-person_id-manager
      x-accepts: application/json
    put:
      deprecated: false
      description: Who reports to who?
      operationId: Person_updateManager
      parameters:
      - explode: false
        in: path
        name: person_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "success": 1
                    }
              schema:
                $ref: '#/components/schemas/PersonUpdateManagerResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 400,
                        "reason_phrase": "The specified new manager does not exist or you do not have access to this person"
                    }
              schema:
                $ref: '#/components/schemas/PersonUpdateManager400Response'
          description: "400"
          x-do-not-generate: true
      summary: Update manager
      tags:
      - Person
      x-readme:
        code-samples:
        - language: http
          code: |-
            {
              "manager_person_id": "100"
            }
          name: JSON
        samples-languages:
        - http
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--1.0-people-person_id-manager
      x-accepts: application/json
  /1.0/calendar/{person_id}/{year}/{month}/{day}/events/set:
    put:
      deprecated: false
      description: "Create a new event or overwrite an existing one in a personal\
        \ calender (eg a day off, overtime,..)"
      operationId: Person_overwriteEvent
      parameters:
      - explode: false
        in: path
        name: person_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: year
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: month
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: day
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       "success":1
                    }
              schema:
                $ref: '#/components/schemas/PersonOverwriteEventResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/PersonOverwriteEvent400Response'
          description: "400"
          x-do-not-generate: true
      summary: Overwrite event
      tags:
      - Person
      x-readme:
        code-samples:
        - language: http
          code: |-
            {
              "type":"custom",
              "custom_day_off_type_id":"1938",
              "start_time_minutes":540,
              "duration_minutes":150
            }
        samples-languages:
        - http
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--1.0-calendar-person_id-year-month-day-events-set
      x-accepts: application/json
  /1.0/calendar/{person_id}/{year}/{month}/{day}:
    get:
      deprecated: false
      description: "List the time off, overtime & scheduled time for a single person\
        \ for a single day"
      operationId: Person_getDailyCalendar
      parameters:
      - description: The person you would like to receive calender information on
        explode: false
        in: path
        name: person_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: year
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: month
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: day
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"data\": {\n        \"time_off\": [\n          \
                    \  {\n                \"date\": \"2018-04-03\",\n            \
                    \    \"scheduled_minutes\": 456,\n                \"events\":\
                    \ [\n                    {\n                        \"id\": 123,\n\
                    \                        \"name\": \"Sick day\",\n           \
                    \             \"event_type\": \"sick_day\",\n                \
                    \        \"custom_day_off_type_id\": \"\",\n                 \
                    \       \"date\": \"2018-04-03\",\n                        \"\
                    duration_minutes\": 456,\n                        \"start_time_minutes\"\
                    \ : 540,\n                        \"type\": \"time_off\",\n  \
                    \                    \t\"working\": 0,\n                     \
                    \   \"status\": \"approved\",\n                        \"color\"\
                    : \"\"\n                    }\n                ]\n           \
                    \ }\n        ],\n        \"company_days_off\": [   ]\n    }\n}"
              schema:
                $ref: '#/components/schemas/PersonGetDailyCalendarResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/PersonGetDailyCalendar400Response'
          description: "400"
          x-do-not-generate: true
      summary: Daily calendar
      tags:
      - Person
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--1.0-calendar-person_id-year-month-day
      x-accepts: application/json
  /1.0/people/{person_id}/role:
    put:
      deprecated: false
      description: Set the function description for each person
      operationId: Person_setFunctionDescription
      parameters:
      - explode: false
        in: path
        name: person_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "success": 1
                    }
              schema:
                $ref: '#/components/schemas/PersonSetFunctionDescriptionResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 400,
                        "reason_phrase": "This person is already performing the given role"
                    }
              schema:
                $ref: '#/components/schemas/PersonSetFunctionDescription400Response'
          description: "400"
          x-do-not-generate: true
      summary: Update role
      tags:
      - Person
      x-readme:
        code-samples:
        - language: http
          code: "{\n\t\"new_role\": \"Team manager\",\n\t\"start_date\": \"2015-02-01\"\
            \n}"
          name: JSON
        samples-languages:
        - http
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--1.0-people-person_id-role
      x-accepts: application/json
  /1.0/teams/{team_id}:
    patch:
      deprecated: false
      description: ""
      operationId: Team_editInformation
      parameters:
      - description: The ID of the team you'd like to update
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
[...]
